@import url("css_reset_default.css");

a {
  text-decoration: none;
}

body > header {
  padding: 130px 0 50px 0;
  background: #3d3d3d;
}

body > header h1 {
  padding: 0 0 120px 0;
  margin: 0 0 125px 0;
  font: normal 68px Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  background: transparent url("images/logo.png") 50% 100% no-repeat;
}

body > header h1 a {
  color: #ffffff;
}
