<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= remove_extentions(file) %> 
      <a href="/edit/<%= file %>">edit</a> 
      <form class="inline" method="post" action="/delete/<%= file %>">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>

  <p><a href="/new">New Document</a></p>
</ul>